*.class
*.log
.idea
project/target
project/project
target
*__pycache__*
/.gradle/
/build/
.eclipse
.project
.settings
.classpath
build/
.gradle/
.vagrant/
dependencies/
env
/bin/
.cache-main
.cache-tests
*.tgz
local.yml
*.retry
*.iml
steps/